# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# MediaPipe / AI Models
models/*.task

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
node_modules/
dist/
.gemini/
frontend/
tests/
